<h2>ABOUT</h2>
<p>I’m going by Scott Alexander, which is almost but not quite my real name. I’m a doctor in the US Midwest. After years of having all sorts of personal information about me available on the Internet, I’m going to try not doing that. I’ve blogged elsewhere under different pseudonyms, especially on Less Wrong as “Yvain”. I mention this because of all the people who read things in both places and never manage to figure out that we’re the same person. Don’t be that guy who tells me I should talk to Yvain because we seem to have a lot in common.

“Slate Star Codex” is a slant anagram of my name. Topics here tend to center vaguely around this meta-philosophical idea of how people evaluate arguments for their beliefs, and especially whether this process is spectacularly broken in a way that may or may not doom us all. In between there’s a lot of cognitive science, psychology, history, politics, medicine, religion, statistics, transhumanism, corny puns, and applied eschatology. I really want to be one of those people with the neat one-subject blogs who can introduce themselves as “the guy with the blog about X”, but the universe is way too interesting for that to remotely work.

If you want to contact me, you can reach me at the reverse of gro.htorerihs@ttocs.

</p>
