<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="#">ARCHIVES</a></li>
    <li><a href="#">TOP POSTS</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="#">COMMENTS</a></li>
    <li><a href="#">ADVERTISE</a></li>
    <li><a href="#">AMAZON</a></li>
    <li><a href="#">OPEN THREAD</a></li>
  </ul>
</nav>

{{outlet}}
